---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("Sep 02 2023")}
  heroImage="/profile-header.jpg"
>
  <p>
    This'll be more fleshed out soon, but I am currently gainfully employed at
    67 Bricks as a Software Developer Consultant.
  </p>
  <p>
    Trying, slowly, to get back into running, and eventually hoping to get back
    into climing also.
  </p>
</Layout>
