---
export interface Props {
  centered?: boolean;
}

const { centered } = Astro.props;
---

<section
  data-presentation-slide
  class:list={[centered && "justify-center", centered && "align-center"]}
  class="mt-20 [#presentation-content>&]:mt-2 [#presentation-content>&]:h-[80vh] border-solid border border-[--black] p-20 [&>img]:max-h-[50vh]"
>
  <slot />
</section>
