<div class="unsupported-message">
  <span
    >This site works best with browsers that support <a
      href="https://caniuse.com/?feats=mdn-javascript_operators_optional_chaining,mdn-javascript_operators_nullish_coalescing,mdn-javascript_builtins_globalthis,es6-module-dynamic-import,bigint,mdn-javascript_builtins_promise_allsettled,mdn-javascript_builtins_string_matchall,mdn-javascript_statements_export_namespace,mdn-javascript_operators_import_meta"
      >ES2020 or newer.</a
    >. I test with the latest versions of Firefox, Chrome, and Edge, and will
    accept issues for Safari 14+ if you are willing to test them for me (as I do
    not own have any modern Apple devices).</span
  >
</div>
<script is:inline>
function browserSupported() {
  try {
    new Function("foo?.bar ?? baz");
    return true;
  } catch (e) {
    return false;
  }
}

if (!browserSupported()) {
  document.documentElement.classList.add("unsupported");
}
</script>

<style>
  .unsupported-message {
    display: none;
  }

  .unsuported .unsupported-message {
    display: block;
  }
</style>
