<div class="unsupported-message">
  <span
    >This site works best with browsers that support <a
      href="https://kangax.github.io/compat-table/es2016plus/"
      >ES2020 or newer.</a
    ></span
  >
</div>
<div class="flex-gap-warning">
  <span id="flex-gap-warning"
    >This site looks best with browsers that support <a
      href="https://caniuse.com/mdn-css_properties_gap_flex_context"
      >gap with flexbox</a
    >, and your browser does not currently support this.</span
  >
</div>
<script is:inline>
function browserSupported() {
  try {
    new Function("foo?.bar ?? baz");
    return true;
  } catch (e) {
    return false;
  }
}

function checkFlexGap() {
  // create flex container with row-gap set
  var flex = document.createElement("div");
  flex.style.display = "flex";
  flex.style.flexDirection = "column";
  flex.style.rowGap = "1px";

  // create two, elements inside it
  flex.appendChild(document.createElement("div"));
  flex.appendChild(document.createElement("div"));

  // append to the DOM (needed to obtain scrollHeight)
  document.body.appendChild(flex);
  var isSupported = flex.scrollHeight === 1; // flex container should be 1px high from the row-gap
  flex.parentNode.removeChild(flex);

  return isSupported;
}

if (!browserSupported()) {
  document.documentElement.classList.add("unsupported");
}
if (!checkFlexGap()) {
  document.documentElement.classList.add("no-flex-gap");
}
</script>

<style>
  .unsupported-message {
    display: none;
  }

  :global(.unsupported) .unsupported-message {
    display: block;
  }

  .flex-gap-warning {
    display: none;
  }

  :global(.no-flex-gap) .flex-gap-warning {
    display: block;
  }
</style>
